[run]
omit =
    machine_learning/*
    models/*
    main.py
    api/global_exception_handler.py
    utils/password_hash.py
    api/controllers/root.py
    tests/*
    core/mqtt_client.py
    utils/jwt_middleware.py